@media (min-width: 300px) and (max-width: 599px)  {
  .memory_card {
    width: calc(25% - 10px);
    height: calc(30% - 10px);
  }

  .front {
    background: #ffffff;
  }
  
  .back {
    width: auto;
    height: 100%;
    background: #ffffff;
  }

  .hard_game_container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    padding: 5%;
  }
}

@media (min-width: 601px) {


.memory_card {
  width: calc(20% - 10px);
  height: calc(25% - 10px);
}

.front {
  background: #ffffff;
}

.back {
  width: 118px;
  height: 150px;
  background: #ffffff;
}

.hard_game_container {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}


}