@media (min-width: 300px) and (max-width: 599px)  {
  .memory_card {
    width: calc(25% - 10px);
    height: calc(40% - 10px);
  }

  .front {
    background: #ffffff;
  }
  
  .back {
    width: auto;
    height: 100%;
    background: #ffffff;
  }
}

@media (min-width: 601px) {


.memory_card {
  width: calc(20% - 10px);
  height: calc(25% - 10px);
}

.front {
  background: #ffffff;
}

.back {
  width: 118px;
  height: 150px;
  background: #ffffff;
}

}