body {
  background-image: url(./img_background.jpg);
}

.memory_card {
  width: calc(20% - 10px);
  height: calc(25% - 10px);
}

.front {
  background: #ffffff;
}

.back {
  width: 118px;
  height: 150px;
  background: #ffffff;
}