* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(../Images/img_casino.jpg);
  }

  h1 {
      font-size: 150px;
      padding-top: 30px;
      padding-bottom: 30px;
      align-items: center;
      font-weight: bold;
      -webkit-text-stroke: 5px #ffffff;
      -webkit-text-stroke: 5px yellow;
  }

  section {
    width: 820px;
    height: 550px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    perspective: 1000px;
  }

  .box {
    width: 400px;
    height: 220px;
    border: ridge 15px #5d5d5d;
    margin: 5px;
    align-items: center;
    background: #ffffff;

  }

.box_inside p {
    font-size: 25px;
    margin-top: 10px;
  }

  .firstbox_cards {
    height: 100px;
  }

  .secondbox_timer {
    margin: 10px;
    height: 90px;
  }

  .box_choose {
    font-size: 40px;
    margin-top: 20px;
  }

  .choose_arrow{
    width: 200px;
    height: 100px;
  }

  .box_link {
    font-size: 40px;
    text-align: center;
  }

  .box_link p {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  .box_link {
    background: #5f7979;
    color: #ffffff;
    text-align: center;
    letter-spacing: -3px;
    padding: 3.5px;
  }

  .box_link p {
    font-size: 35px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
  }

  .superShadow {
    text-shadow:     0 1px 0 hsl(174,5%,80%),
                       0 2px 0 hsl(174,5%,75%),
                       0 3px 0 hsl(174,5%,70%),
                       0 4px 0 hsl(174,5%,66%),
                       0 5px 0 hsl(174,5%,64%),
                       0 6px 0 hsl(174,5%,62%),
                       0 7px 0 hsl(174,5%,61%),
                       0 8px 0 hsl(174,5%,60%),
      
                       0 0 5px rgba(0,0,0,.05),
                      0 1px 3px rgba(0,0,0,.2),
                      0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.2),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.3);
  }
  