* {
    padding: 0;
    margin: 0;
  }

  @media (min-width: 300px) and (max-width: 599px)  {
  .game_body {
    width: 100%;
      text-align: center;
      font-family: 'Source Sans Pro', sans-serif;
      color: #ffffff;
      background-image: url("https://images.unsplash.com/photo-1620589431040-bad261b752c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
      background-size: 100%;
  }

  .game_body_title {
      font-size: 40px;
      margin: 10% 0% 5% 0%;
      color: yellow;
      align-items: center;
      font-weight: bold;
      -webkit-text-stroke: 1px blue;
  }

  .game_body_first_card, .game_body_fourth_card {
    border: ridge 8px #ffffff;
    margin: 5%;
    padding: 5% 0%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .game_body_first_card_sentense {
    font-size: 24px;
  }

  .game_body_first_card_image {
    margin: 5% 0%;
    width: 70%;
    height: auto;
  }
  .game_body_second_card,.game_body_third_card {
    display:none
  }

  .game_body_fourth_card {
    font-size: 24px;
    padding: 5% 0%;
  }

  .game_body_links_sentenese {
    font-size: 30px;
  }
  }

  @media (min-width: 601px) {
  
  .game_body {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(../Images/img_casino.jpg);
  }

  .game_body_title {
      font-size: 150px;
      padding-top: 30px;
      padding-bottom: 30px;
      align-items: center;
      font-weight: bold;
      -webkit-text-stroke: 5px #ffffff;
      -webkit-text-stroke: 5px yellow;
  }

  .game_body_section {
    width: 820px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    perspective: 1000px;
  }

  .game_body_first_card, .game_body_second_card, .game_body_third_card, .game_body_fourth_card {
    width: 400px;
    height: 220px;
    border: ridge 15px #5d5d5d;
    margin: 5px;
    align-items: center;
    background: #ffffff;
  }

.game_body_first_card_sentense {
    font-size: 25px;
    margin-top: 10px;
  }

  .game_body_first_card_image {
    height: 100px;
  }

  .game_body_second_card_image {
    margin: 10px;
    height: 90px;
  }

  .game_body_choosing_section {
    font-size: 40px;
    margin-top: 20px;
  }

  .game_body_choosing_image{
    width: 200px;
    height: 100px;
  }

  .game_body_links_sentenese {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 35px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
  }

  .game_body_links_box {
    font-size: 40px;
    text-align: center;
    background: #5f7979;
    color: #ffffff;
    text-align: center;
    letter-spacing: -3px;
    padding: 3.5px;
  }

  .superShadow {
    text-shadow:     0 1px 0 hsl(174,5%,80%),
                       0 2px 0 hsl(174,5%,75%),
                       0 3px 0 hsl(174,5%,70%),
                       0 4px 0 hsl(174,5%,66%),
                       0 5px 0 hsl(174,5%,64%),
                       0 6px 0 hsl(174,5%,62%),
                       0 7px 0 hsl(174,5%,61%),
                       0 8px 0 hsl(174,5%,60%),
      
                       0 0 5px rgba(0,0,0,.05),
                      0 1px 3px rgba(0,0,0,.2),
                      0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.2),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.3);
  }
}